- var { next, prev } = navigation;
main.post.blog-post.col-lg-8
  .container
    .post-single
      .post-thumbnail
        img.img-fluid(src=""+article.img  alt=""+article.header)
      .post-details
        .post-meta.d-flex.justify-content-between
          .category
            each categoriy in article.categories
              a(href="#") #{categoriy}
        h1 #{article.header}
          a(href="#")
            i.fa.fa-bookmark-o
        .post-footer.d-flex.align-items-center.flex-column.flex-sm-row
          a.author.d-flex.align-items-center.flex-wrap(href="#")
            .avatar
              img.img-fluid(src="img/avatar-1.jpg" alt="...")
            .title
              span John Doe
          .d-flex.align-items-center.flex-wrap
            .date
              i.icon-clock
              |  2 months ago
            .views
              i.icon-eye
              |  500
            .comments.meta-last
              i.icon-comment
              | 12


        .post-body
          each paragraph in article.paragraphs
            p.lead #{paragraph}
          .post-thumbnail
            img.img-fluid(src="https://picsum.photos/700/500/?random")

        .posts-nav.d-flex.justify-content-between.align-items-stretch.flex-column.flex-md-row
          if prev
            a.prev-post.text-left.d-flex.align-items-center(href=""+prev.href)
              .icon.prev
                i.fa.fa-angle-left
              .text
                strong.text-primary Предыдущая статья
                h6 #{prev.header}
          if next
            a.next-post.text-right.d-flex.align-items-center.justify-content-end(href=""+next.href)
              .text
                strong.text-primary Следующая статья 
                h6 #{next.header}
              .icon.next
                i.fa.fa-angle-right