- var posts = articles.slice(9)
section.featured-posts.no-padding-top
  .container
    each article, index in posts
      if index%2===1
        .row.d-flex.align-items-stretch
          .text.col-lg-7
            .text-inner.d-flex.align-items-center
              .content
                header.post-header
                  .category
                    each categoriy in article.categories
                      a(href="#") #{categoriy}
                  a(href="" + article.pathname)
                    h2.h4 #{article.header}
                p #{article.paragraphs[0]}
                footer.post-footer.d-flex.align-items-center
                  a.author.d-flex.align-items-center.flex-wrap(href="#")
                    .avatar
                      img.img-fluid(src="img/avatar-1.jpg" alt="...")
                    .title
                      span John Doe
                  .date
                    i.icon-clock
                    |  2 months ago
                  .comments
                    i.icon-comment
                    | 12
          .image.col-lg-5
            img(src=""+article.img  alt=""+article.header)
      else
        .row.d-flex.align-items-stretch
          .image.col-lg-5
            img(src="" + article.img  alt="" + article.header)
          .text.col-lg-7
            .text-inner.d-flex.align-items-center
              .content
                header.post-header
                  .category
                    each categoriy in article.categories
                        a(href="#") #{categoriy}
                  a(href="" + article.pathname)
                    h2.h4 #{article.header}
                p #{article.paragraphs[0]}
                footer.post-footer.d-flex.align-items-center
                  a.author.d-flex.align-items-center.flex-wrap(href="#")
                    .avatar
                      img.img-fluid(src="img/avatar-2.jpg" alt="...")
                    .title
                      span John Doe
                  .date
                    i.icon-clock
                    |  2 months ago
                  .comments
                    i.icon-comment
                    | 12